{% extends "base.html" %}

{% block contenido %}		

			
		<div id="main" class="wrapper clearfix">				
				
			<div id="Formulario">
				
				<h2 style="text-align: center;">Editar centro de trabajo de {{ centro.empresa }}</h2>				
					
					<form name="crearCentro" action="/editarCentro/{{ form.idCen.value }}/" method="post">
						<div style="color:red;">{{ form.non_field_errors }}</div>
						{{ form.idCen }}
						<table>
							
							<tr>
								<td style="text-align: right; width: 45%;">Dirección </td>
								<td style="text-align: left;">{{ form.direccion }} <span style="color:red;">{% for error in form.direccion.errors %}{{ error }}{% endfor %}</span></td>								
							</tr>

							<tr>
								<td style="text-align: right;">Población </td>
								<td style="text-align: left;">{{ form.poblacion }} <span style="color:red;">{% for error in form.poblacion.errors %}{{ error }}{% endfor %}</span></td>								
							</tr>

							<tr>
								<td style="text-align: right;">Código postal </td>
								<td style="text-align: left;">{{ form.postal }}	<span style="color:red;">{% for error in form.postal.errors %}{{ error }}{% endfor %}</span></td>								
							</tr>

							<tr>
								<td style="text-align: right;">email </td>
								<td style="text-align: left;">{{ form.email }} <span style="color:red;">{% for error in form.email.errors %}{{ error }}{% endfor %}</span></td>								
							</tr>

							<tr>
								<td style="text-align: right;">Teléfono </td>
								<td style="text-align: left;">{{ form.telefono }} <span style="color:red;">{% for error in form.telefono.errors %}{{ error }}{% endfor %}</span></td>								
							</tr>
							
							<tr>
								<td style="text-align: right;">Fax </td>
								<td style="text-align: left;">{{ form.fax }} <span style="color:red;">{% for error in form.fax.errors %}{{ error }}{% endfor %}</span></td>								
							</tr>
														
							<tr>
								<td style="text-align: right;"></td>
								<td style="text-align: left;"><input type="submit" value="Editar"></td>
							</tr>
						</table>						
					</form>
			</div>
			
		</div> <!-- #main -->
		
{% endblock %}	
