{% extends "base.html" %}

{% block contenido %}
			
		<div id="main" class="wrapper clearfix">
				
			<div id="Formulario">
				<h2 style="text-align: center;">Cambia tu contraseña</h2>
				
				<form action="" method="post">
					<div style="color:red;">{{ form.non_field_errors }}</div>					
					<table>
						<tr>
							<td style="text-align: right; width: 45%;"> Contraseña antigua </td>
							<td style="text-align: left;">{{ form.old_password }} <span style="color:red;">{% for error in form.old_password.errors %}{{ error }}{% endfor %}</span></td>
						</tr>
						
						<tr>
							<td style="text-align: right;"> Contraseña nueva </td>
							<td style="text-align: left;">{{ form.new_password1 }} <span style="color:red;">{% for error in form.new_password1.errors %}{{ error }}{% endfor %}</span></td>
						</tr>

						<tr>
							<td style="text-align: right;"> Contraseña nueva (confirmación) </td>
							<td style="text-align: left;">{{ form.new_password2 }} <span style="color:red;">{% for error in form.new_password2.errors %}{{ error }}{% endfor %}</span></td>
						</tr>
						
						<tr>
							<td></td>
							<td style="text-align: left;"><input type="submit" value="Cambiar" /></td>
						</tr>				
					</table>
					
				
				</form>
				
			</div>
		
		</div> <!-- #main -->
		
{% endblock %}
		
