{% extends "base.html" %}

{% block contenido %}
			
		<div id="main" class="wrapper clearfix">
				
			<div id="Formulario">
				<h2 style="text-align: center;">Define tu contraseña</h2>

				<form action="/cambio/" method="post">
					
					<div style="color:red;">{{ form.non_field_errors }}</div>					
					<table>
						
						<tr>
							<td style="text-align: right;"> Usuario </td>
							<td style="text-align: left;"><input type="text" readonly value="{{ user.username }}"></td>
						</tr>
						
						<tr>
							<td style="text-align: right;"> Nueva contraseña </td>
							<td style="text-align: left;">{{ form.new_password1 }} <span style="color:red;">{% for error in form.new_password1.errors %}{{ error }}{% endfor %}</span></td>
						</tr>

						<tr>
							<td style="text-align: right;"> Nueva contraseña (confirmación) </td>
							<td style="text-align: left;">{{ form.new_password2 }} <span style="color:red;">{% for error in form.new_password2.errors %}{{ error }}{% endfor %}</span></td>
						</tr>
						
						<tr>
							<td></td>
							<td style="text-align: left;"><input type="submit" value="Guardar" /></td>
						</tr>				
					</table>				
				
				</form>
				
			</div>
		
		</div> <!-- #main -->
		
{% endblock %}
		
